{% extends "base.html" %}

{% block title %}Users{% endblock %}

{% block content %}
    <h1 class="mb-4">Пользователи</h1>

    <table class="table table-striped">
    <thead>
        <tr>
        <th>ID</th>
        <th>Имя пользователя</th>
        <th>Полное имя</th>
        <th>Дата регистрации</th>
        <th></th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.first_name }} {{ user.last_name }}</td>
            <td>{{ user.date_joined|date:"d.m.Y H:i" }}</td>
            <td>
            {% if request.user == user %}
                <a href="{% url 'users:update' user.pk %}">
                Изменить
                </a>
                |
                <a href="{% url 'users:delete' user.pk %}">
                Удалить
                </a>
            {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
    </table>

{% endblock %}
