{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block title %}Изменение задачи{% endblock %}

{% block content %}
  <h1 class="mb-4">Изменение задачи</h1>

  <form method="post">
    {% csrf_token %}

    <div class="mb-3">
      <label class="form-label" for="id_name">Имя</label>
      {{ form.name }}
    </div>

    <div class="mb-3">
      <label class="form-label" for="id_description">Описание</label>
      {{ form.description }}
    </div>

    <div class="mb-3">
      <label class="form-label" for="id_status">Статус</label>
      {{ form.status }}
    </div>

    <div class="mb-3">
      <label class="form-label" for="id_executor">Исполнитель</label>
      {{ form.executor }}
    </div>

    <div class="mb-3">
      <label class="form-label" for="id_labels">Метки</label>
      {{ form.labels }}
    </div>

    <button type="submit" class="btn btn-primary">
      Изменить
    </button>
  </form>
{% endblock %}
