name: Python CI

on:
  - push
  - pull_request

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      - name: Install dependencies
        run: |
          pipx install uv
          make install
      - name: Run linter and pytest
        run: |
          make lint
          make coverage
      - name: SonarQubeScan
        uses: sonarsource/sonarqube-scan-action@v6
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: https://sonarcloud.io
        with:
          args: >
            -Dsonar.projectKey=maxjamchuk_python-project-52
            -Dsonar.organization=maxjamchuk
            -Dsonar.python.coverage.reportPaths=coverage.xml
